<h1>REFRESHING</h1>
<ul class="topul">
	<li><a href='/lists'>WORD LISTS</a></li>
	<li><a href='quiz'>Quizzes</a></li>
	<li><a href='account'>Account</a></li>
	<li><a href='dictionary'>Dictionary</a></li>
	<li><a href='/logout'>Log Out</a></li>
</ul>

<h3>Look up a word!</h3>
<form action="/dictionary" method="get">
	<input type="text" name="word">
	<input type="submit" name="enter">
</form>

<h3>Add a new word!</h3>
<form action="/dictionary" method="post">
	Word<input type="text" name="word"><br>
	Meaning<input type="text" name="meaning"><br>
	<input type="submit" name="enter">
</form>

{{vocabulary.word}}<br>{{vocabulary.meaning}}<br>{{vocabulary.synonyms}}{{result}}

{{word}}
<br>{{breakAndMeaning}} {{meaning}} <br> {{synonyms}}